<!DOCTYPE html>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/app.js"></script>

<html>
    <head>
        <body> 
            {{>header}}
            {{>error}}
            {{>footer}}
        </body>
    </head>
</html>