body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/img/volunteer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.hero {
    background-image: url('/img/volunteer.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
html {
    font-family: "Trirong", serif;
}  
h5 {
    background-color: #af814c;
    color: #ffffff;
    padding: 6px;
    font-family: "Trirong", serif;
}
h4 {
    position: relative;
    color: #28f00ed0;  
    font-size: 2rem;
    line-height: 0.1;
    text-align: center;
    font-family: "Trirong", serif;
  }
input{
    border: 1px solid #cccccc;
    padding: 8px;
}
video {
    width: 100%;
    height: auto;
}
button{
    border: 1px solid #888888;
    padding: 8px;
    background-color: #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    /* font-size: 18px;  */
    line-height: 25px;
    border-radius: 4px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.logo {
    font-size: 25px;
    font-weight: bold;
  }

.portrait {
    width: 250px;
}